<launch>
    <arg name="world" default="maze"/>

    <node name="static_map_server" pkg="map_server" type="map_server" args="$(find match_gazebo)/maps/$(arg world).yaml" ns="/" output="screen">
        <param name="frame_id" type="string" value="/map"/>
    </node>

    <include file="$(find mir_navigation)/launch/amcl.launch"/>
    
    <include file="$(find tutorial_mir)/launch/mir_ps4_drive.launch"/>

</launch>