<launch>
    <node name="ps4_controller_driver" pkg="joy" type="joy_node">
        <remap from="joy" to="ps4_input"/>
    </node>

    <node name="teleoperate" pkg="ps4_controller" type="ps4_diffdrive.py">
        <remap from="joy" to="ps4_input"/>
        <remap from="cmd_vel" to="mobile_base_controller/cmd_vel"/>
        <param name="translation" value="0.3"/>
        <param name="rotation" value="0.3"/>
        <param name="trans_incr" value="0.1"/>
        <param name="rot_incr" value="0.1"/>
    </node>
</launch>