<launch>
    <include file="$(find mir_launch_sim)/launch/mir.launch" ns="mir1">
        <arg name="tf_prefix"    default="mir1" />
        <arg name="robot_x"   default="0.0" />
        <arg name="robot_y"   default="0.5" />
        <arg name="robot_yaw" default="0.0" />  
        <arg name="model_name" default="mir1"/>
    </include>

    <include file="$(find mir_launch_sim)/launch/mir.launch" ns="mir2">
        <arg name="tf_prefix"    default="mir2" />
        <arg name="robot_x"   default="0.0" />
        <arg name="robot_y"   default="-0.5" />
        <arg name="robot_yaw" default="0.0" />  
        <arg name="model_name" default="mir2"/>
    </include>
</launch>